<div class="card pb-3" id="{{card.id}}">
    <div class="card-block" {% if card.previewbackground != 'rgba(255,255,255,1.0' %}style="background: {{ card.previewbackground }}"{% endif %}>
        <div>
        {% if card.previewimage.path != "" %}
            <a href="{{ card|link }}">
            {% set resimage = card.previewimage %}
            {% if settings.colsxl >= 3 %}
                {% include('partials/_resimage_25vw_33vw_50vw_100vw.twig') with { 'resimage' : resimage } %}
            {% else %}
                {% include('partials/_resimage_50vw_100vw.twig') with { 'resimage' : resimage } %}
            {% endif %}
            </a>
        {% endif %}
        </div>
        <div class="card-text my-2">
            {% if settings.showtitleindex == true && settings.showtitlepages == true %}
            	<a href="{{ card|link }}" style="text-decoration: none">{{ card.title }}
            {% endif %}
            <a href="{{ card|link }}" style="text-decoration: none">{{ card.previewtext }}</a>
        </div>
    </div>
</div>
