<div class="card" id="{{card.id}}">
    <div class="card-block">
        <div>
        {% if card.previewimage|media != null %}
            <a href="{{ card|link }}">
            {% set resimage = card.previewimage %}
            {% if settings.colsxl >= 3 %}
                {% include('partials/_resimage_25vw_33vw_50vw_100vw.twig') with { 'resimage' : resimage } %}
            {% else %}
                {% include('partials/_resimage_50vw_100vw.twig') with { 'resimage' : resimage } %}
            {% endif %}
            </a>
        {% endif %}
        {{ card.previewtext }}
        </div>
        {% if settings.showtitle == true %}
        <div class="card-text small">
            <a href="{{ card|link }}">{{ card.title }}</a>
        </div>
        {% endif %}
    </div>
</div>
