<!DOCTYPE html>
<html lang="{{ htmllang() }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Adding title for every page, default bolt style -->
    <title>
            {% if settings.logotext is defined %}
              {{ settings.logotext|striptags }}
            {% endif %}
            {% if record.template == 'page.twig' || record.template == 'work.twig' %}
              | {{ record.title }}
            {% endif %}
    </title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('dist/favicon/apple-touch-icon-180x180.png', 'theme') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('dist/favicon/favicon-32x32.ico', 'theme') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('dist/favicon/favicon-96x96.png', 'theme') }}">
    <meta name="msapplication-square310x310logo" content="{{ asset('dist/favicon/mstile-310x310.png', 'theme') }}">

    <!-- Flexfolio CSS -->
    <link rel="stylesheet" href="{{ asset('dist/css/flexfolio.css', 'theme') }}">

    <!-- Fonts CSS -->
    {% if settings != "" and settings.font != "" %}
      <link rel="stylesheet" href="{{ asset('dist/css/fonts/'~settings.font~'.css', 'theme') }}">
    {% else %}
      <link rel="stylesheet" href="{{ asset('dist/css/fonts/rubik.css', 'theme') }}">
    {% endif %}
    
    <!-- Font naming -->
    {% if settings.font == "publicsans" %}
      {% set fontname = "Public SansVariable" %}
    {% endif %}
    {% if settings.font == "rubik" %}
      {% set fontname = "RubikVariable" %}
    {% endif %}
    <style>
      body {
        font-family: '{{ fontname }}';
        font-weight: 300;
        font-size: {{ (settings.fontsize/16)|replace({',':'.'}) }}rem;
        line-height: {{ settings.lineheight|replace({',':'.'}) }}rem;
        padding-top: 80px;
      }
      .navbar {
        background: {{ settings.navcolor }};
        font-size: {{ (settings.navfontsize)/16|replace({',':'.'}) }}rem;
      }

      footer {
        font-size: {{ (settings.footerfontsize)/16|replace({',':'.'}) }}rem;
      }
    </style>
  </head>



