<!DOCTYPE html>
<html lang="{{ htmllang() }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Adding title for every page, default bolt style -->
    <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
            {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
    </title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('dist/favicon/apple-touch-icon-180x180.png', 'theme') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('dist/favicon/favicon-32x32.ico', 'theme') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('dist/favicon/favicon-96x96.png', 'theme') }}">
    <meta name="msapplication-square310x310logo" content="{{ asset('dist/favicon/mstile-310x310.png', 'theme') }}">

    <!-- Flexfolio CSS -->
    <link rel="stylesheet" href="{{ asset('dist/css/flexfolio.css', 'theme') }}">

    <!-- Fonts CSS -->
    {% setcontent settings = 'settings' limit 1 returnsingle %}
    {% if settings != "" and settings.font != "" %}
      <link rel="stylesheet" href="{{ asset('dist/css/fonts/'~settings.font~'.css', 'theme') }}">
    {% else %}
      <link rel="stylesheet" href="{{ asset('dist/css/fonts/rubik.css', 'theme') }}">
    {% endif %}
    
    <!-- Font size -->
    {% if settings != "" and settings.fontsize != "" %}
    {% set remsize = settings.fontsize/16 %}
    <style>
      body {
        font-family: '{{settings.font}}';
        font-size: {{ remsize|replace({',':'.'}) }}rem;
        line-height: {{ settings.lineheight|replace({',':'.'}) }}rem;
        padding-top: 80px;
      }
    </style>
    {% endif %}
  </head>



