{% set homebutton = config.get('general/sitename') %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        {# Brand and home button #}
        <div class="align-content-start"> 
        <a class="nav-link" style="padding-left: 0;" href="{{ '/' }}">
            {% if settings.brandicon %}<i class="bi bi-{{ settings.brandiconcode }}" style="padding-right: 8px"></i>{% endif %}{{ homebutton }}
        </a>
        </div>
        <div class="align-content-end"> 
        {# Locales #}
        {% if locales()|length > 1 %}
            {% for locale in locales() %}
                <a class="btn btn-light btn-sm" href="{{ locale.link }}">{{ locale.code|upper }}</a>
            {% endfor %}
        {% endif %}
        {# Menu button #}
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" style="margin-left: 2rem" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-list"></i>
        </button>
        </div>
    </div>
</nav>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="menu">
    <div class="offcanvas-header">
        <h5 id="menu">All mine</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="navbar-nav">
            {% setcontent pages = 'pages' where { displaymenu: true } %}
            {% for item in pages %}
                <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>



<!--nav class="navbar navbar-expand-lg fixed-top">
  <div class="conta(function mainScript() {
  "use strict";
  const offcanvasToggle = document.querySelector(
    '[data-bs-toggle="offcanvas"]',
  );
  const offcanvasCollapse = document.querySelector(".offcanvas-collapse");
  offcanvasToggle.addEventListener("click", function () {
    offcanvasCollapse.classList.toggle("open");
  });
})();iner-fluid">
    {# Brand and home button #}
    <a class="nav-link" style="padding-left: 0;" href="{{ '/' }}">
        {% if settings.brandicon %}<i class="bi bi-{{ settings.brandiconcode }}" style="padding-right: 8px"></i>{% endif %}{{ homebutton }}
    </a>
    {# Togglers #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    {# Generate all menu entries from available pages #}
    <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-nav">
            {% setcontent pages = 'pages' where { displaymenu: true } %}
            {% for item in pages %}
                <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
    {# Generate language menu #}
    <div class="collapse navbar-collapse" id="language">
        <div class="navbar-nav align-items-center">
            {% for locale in locales() %}
                <a class="nav-link" href="{{ locale.link }}">{{ locale.code|upper }}</a>
            {% endfor %}
        </div>
    </div>(function mainScript() {
  "use strict";
  const offcanvasToggle = document.querySelector(
    '[data-bs-toggle="offcanvas"]',
  );
  const offcanvasCollapse = document.querySelector(".offcanvas-collapse");
  offcanvasToggle.addEventListener("click", function () {
    offcanvasCollapse.classList.toggle("open");
  });
})();
    </div>
  </div>
</nav>-->

<!-- nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-start" >

            {# Brand and home button #}
            <a class="nav-link" style="padding-left: 0;" href="{{ '/' }}">
                {% if settings.brandicon %}<i class="bi bi-{{ settings.brandiconcode }}" style="padding-right: 8px"></i>{% endif %}{{ homebutton }}
            </a>
            
            {# Generates all menu entries from available pages #}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-left mb-md-0">
                {% setcontent pages = 'pages' where { displaymenu: true } %}
                {% for item in pages %}
                <li class="nav-item {% if page.link == item.link and item.link != '/' %}active{% endif %}">
                    <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {# Language selector #}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-end mb-md-0">
                {% for locale in locales() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ locale.link }}">{{ locale.code|upper }}</a>
                    </li>
                {% endfor %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="collapse" aria-controls="menuitems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">togg</span>
            </button>
            </ul>
            
        </div>
    </div>
</nav>-->




    


    {# setcontent settings = 'settings' limit 1 returnsingle %}
    {% if settings.socialmedia != "" %}
    <ul>
        {% for item in settings.socialmedia %}
            <a href="{{item.links}}">
                {% if item.symbol %}
                    <div class="nav-link"><i class="{{ item.symbolcode }}" aria-hidden="true"></i></div>
                {% else %}
                    <div class="nav-link">{{item.title}}</div>
                {% endif %}
            </a>
        {% endfor %}
    </ul>
    {% endif %}
</ul>#}