{% set homebutton = config.get('general/sitename') %}
<header class="navbar fixed-top">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-start">

            {# Brand and home button #}
            <a class="nav-link" style="padding-left: 0;" href="{{ '/' }}">
                {% if settings.brandicon %}<i class="bi bi-{{ settings.brandiconcode }}" style="padding-right: 8px"></i>{% endif %}{{ homebutton }}
            </a>

            {# Generates all menu entries from available pages #}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-left mb-md-0">
                {% setcontent pages = 'pages' where { displaymenu: true } %}
                {% for item in pages %}
                <li class="nav-item {% if page.link == item.link and item.link != '/' %}active{% endif %}">
                    <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        {# Language selector #}
        <div class="d-flex flex-wrap align-items-left justify-content-end">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-end mb-md-0">
                {% for locale in locales() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ locale.link }}">{{ locale.code|upper }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>




    


    {# setcontent settings = 'settings' limit 1 returnsingle %}
    {% if settings.socialmedia != "" %}
    <ul>
        {% for item in settings.socialmedia %}
            <a href="{{item.links}}">
                {% if item.symbol %}
                    <div class="nav-link"><i class="{{ item.symbolcode }}" aria-hidden="true"></i></div>
                {% else %}
                    <div class="nav-link">{{item.title}}</div>
                {% endif %}
            </a>
        {% endfor %}
    </ul>
    {% endif %}
</ul>#}