
    <nav class="navbar navbar-expand-lg fixed-top bg-white">
        {% if settings.layoutcontainer == 'fluid' %}
        <div class="container-fluid">
        {% else %}
        <div class="container">
        {% endif %}
            {# Brand and home button #}
            <div class="align-content-start"> 
            <a class="nav-link" style="padding-left: 0;" href="{{ '/' }}">
                {% if settings.brandicon %}
                    {% if settings.logoimg != "" %}
                        <img src="{{ settings.logoimg.path }}" alt="{{ settings.logoimg.alt|default('Logo') }}" class="float-start" style="margin: 0; padding: 0; margin-right: 6px; width: 40px; height: 25px">
                    {% else %}
                        <i class="{{ settings.brandiconcode }}"></i>
                    {% endif %}
                {% endif %}
                <span style="font-weight: 700">
                    {{ settings.logotext }}
                </span>
            </a>
            </div>
            <div class="navbar-nav me-auto">
                {% setcontent pages = 'pages' where { displaymenu: true } %}
                {% set relatedpage = record|related() %}
                {% for item in pages %}
                    {% if relatedpage %}
                        <a class="nav-link d-none d-lg-inline" {% if record|link == item|link && item|link != '/' || relatedpage[0].title == item.title %}style="text-decoration: underline"{% endif %} href="{{ item|link }}">{{ item.title }}</a>
                    {% else %}
                        <a class="nav-link d-none d-lg-inline" {% if record|link == item|link && item|link != '/' %}style="text-decoration: underline"{% endif %} href="{{ item|link }}">{{ item.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if settings.socialmedia %}
                {% for item in settings.socialmedia %}
                <a href="{{item.links}}">
                    {% if item.symbol %}
                        <div class="nav-link"><i class="{{ item.symbolcode }}" aria-hidden="true"></i></div>
                    {% else %}
                        <div class="nav-link">{{item.title}}</div>
                    {% endif %}
                </a>
                {% endfor %}
            {% endif %}

            <div class="align-content-end"> 
            {# Locales #}
            {% if locales()|length > 1 && settings.languageselector %}
                {% for locale in locales() %}
                    <a class="btn btn-outline-dark btn-sm" href="{{ locale.link }}">{{ locale.code|upper }}</a>
                {% endfor %}
            {% endif %}
            {# Menu button #}
            <button class="btn btn-dark d-lg-none" type="button" data-bs-toggle="offcanvas" style="margin-left: 2rem" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="bi bi-list"></i>
            </button>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="menu">
        <div class="offcanvas-header align-content-start">
            <span style="font-weight: 700">
                {{ settings.logotext }}
            </span>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="navbar-nav">
                {% setcontent pages = 'pages' where { displaymenu: true } %}
                {% for item in pages %}
                    <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>