{% set metadata = resimage|media %}
{% set info = { 'height': metadata.height, 
                'width': metadata.width } %}
{% set sizes = [ '320', '384', '480', '576', '640', '768', '800','960', '1024', '1280', '1440' ] %}
{% if link != "" %}
    <a href="{{ link }}">
{% endif %}
{% if metadata.type == "gif" %}
    <img loading="lazy" src="{{ metadata.location }}/{{ metadata.path }}/{{ metadata.filename }}" alt="{{ alt }}" width="100%" height="100%">
{% else %}
    <img loading="lazy" alt="{{ alt }}" srcset="
        {%for size in sizes %}
            {% set relheight = info.height*size/info.width %}
            {{ resimage|thumbnail(width=size, height=relheight, fit='m') }} {{size}}w{% if not loop.last %},{% endif %}
        {% endfor %}"
    sizes=" (min-width: 768px) 50vw,
            100vw"
    class="d-block w-100">
{% endif %}
{% if link != "" %}
    </a>
{% endif %}